#3.6.2
[Desktop Entry]
Type=Application
Container=_MainDock_
Name=Thorium
Icon=/usr/share/icons/hicolor/256x256/apps/thorium-browser.png
Exec=thorium-browser
StartupWMClass=Thorium-browser
Order=2.5
Icon Type=0
prevent inhibate=false
Terminal=false
ShowOnViewport=0
