#3.6.2
[Desktop Entry]
Type=Application
Container=_MainDock_
Name=VS Code
Icon=/home/deglozdev/.local/share/icons/hicolor/scalable/apps/vscode.svg
Exec=code-oss
StartupWMClass=code-oss
Order=5
Icon Type=0
prevent inhibate=false
Terminal=false
ShowOnViewport=0
